/*************************** CSS RESET ***************************/
/* CSS Reset Eric Meyer */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	/*font-size: 100%;*/
	vertical-align: baseline;
	background: transparent;
}


/* Scrollbar customizations -- the default used to look fine, but suddenly the overflow auto-scroll widgets are an ugly light gray */


::-webkit-scrollbar{
	border: 1px solid rgba(45,45,45,0.0);
}
::-webkit-scrollbar-track{
	border-radius: 6px;
	background-color:rgba(0, 0, 0,0.15);
	width: 4px;
}

::-webkit-scrollbar-thumb{
	background-color:rgb(45, 45, 45);
	/* border-radius: 4px; */      /* roundness of the scroll thumb */
  border: 1px solid rgb(33, 33, 33); /* creates padding around scroll thumb */
}


::-webkit-scrollbar-thumb:active {
    background-color: rgb(57, 64, 12);
}

/* Buttons */
::-webkit-scrollbar-button:single-button {
    background-color: rgb(64, 64, 64);
    display: block;
    background-size: 10px;
    background-repeat: no-repeat;
}

/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
    height: 12px;
    width: 16px;
    background-position: center 4px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='50,00 0,50 100,50'/></svg>");
}




body {
	line-height: 1;
}
ol, ul {
	list-style: inherit;
}
blockquote, q {
	quotes: none;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*************************** CSS RESET ***************************/
.doh{
	z-index: 1;
}
body{
	font-family: sans-serif;
	line-height: 1.3em;
}
form{
	/*background-color:white;*/
	padding:8px;
}
fieldset.inline-wrapper label, fieldset.inline-wrapper .form-item{
	display:inline;
}
span.form-item-wrapper fieldset{
	padding:0 0 15px 15px;
	border:1px solid black;
}
fieldset legend{
	font-size: 1.5em;
    font-weight: bolder;
}
label, .form-item{
	display:block;
}
label h3{
	margin:0;
}
label{
	margin: 10px 0;
}
input.text{
	/*width:80%;*/
}
form ul.sortable{
	margin: 0;
    padding: 0;
}
ul.sortable .handle{
	background:url('../images/sortable.png') center center no-repeat transparent;
	width:20px;
	height:20px;
	padding:3px;
}
li.sort_item table{
	width:100%;
}
form ul.sortable li{
	list-style-type:none;
	cursor:pointer;
	border: 1px solid #CCCCCC;
    color: #1C94C4;
    font-weight: bold;
    outline: medium none;
}
#block-logo{
	float:left;
	font-size:1.5em;
	line-height:1.5em;
}
#block-logo a{
	text-decoration:none;
}
#header #block-user{
	float:right;
}
#header{
	width: 1000px;
	margin: 0px auto;
	min-height:20px;
	text-align:left;
}
#page-wrapper {
	width:1000px;
	text-align: left;
	margin: 0px auto;
}
#page-wrapper .region{
	/*width:80%;*/
	float:left;
	padding: 10px;
}
#sidebar.region {
	width: 160px
}
#main.region {
	width: 800px
}
#page-wrapper .region.toolbar{
	z-index:1000;
}
#page-wrapper .region.toolbar.off{
	float:none;
	position:absolute;
	left:-2000px;
}
#page-wrapper .region.toolbar.on{
	float:none;
	position:absolute;
	left:0;
}
#page-wrapper #region_icons{
	position:absolute;
	z-index:1000;
	left:0;
	margin:0;
	padding: 60px 0 0;
}
#page-wrapper #region_icons li{
	list-style:none;
	cursor:pointer;
}

.main {  margin:0 auto;  width:520px;   }

.clear {
	clear:both;
}
.node-body{
	width:70%;
}
.autocomplete_popup{
	background-color:white;
}
.autocomplete_list{
	border:2px outset black;
	padding:2px;
	margin:0;
}
.autocomplete_list li{
	list-style:none;
}
.dmenu a{
	text-decoration:none;
}
.dmenu a.hover{
	text-decoration:underline;
}
.dmenu ul{
	padding-left: 15px;
}
.dmenu ul ul{
	overflow:hidden;
}
.dmenu li{
	list-style:none;
}
.dmenu li.menu-parent{
	list-style-image:url('../images/menu-collapsed.png');
	-moz-transition: all 500ms ease-out;
	-webkit-transition: all 500ms ease-out;
	transition: all 500ms ease-out;
}
.dmenu li.menu-parent ul{
	position:absolute;
	visibility:hidden;
}
.dmenu li.menu-parent.expanded{
	list-style-image:url('../images/menu-expanded.png');
	-moz-transition: all 500ms ease-out;
	-webkit-transition: all 500ms ease-out;
	transition: all 500ms ease-out;
}
h2{
	margin: 0 0 20px;
}
#page-wrapper .block-bottom {
	padding: 0 0 20px;
}

#page-wrapper #block-page_title .block-bottom {
	padding: 0 0 5px;
}
/**************  Animated Base Theme **************/ 
/*
body {
	background: #222;
	color: #eee;
}
*/
a {
	color: #3ed2fe;
}
form {
	/*background: #222; */
}
h2{
	margin: 0 0 20px;
	/*border-radius: 180px;*/
	border: 5px solid transparent;
	/*
	-moz-box-shadow: 0px 0px 10px 5px #00b7b5;
	-webkit-box-shadow: 0px 0px 10px 5px #00b7b5;
	box-shadow: 0px 0px 10px 5px #00b7b5; */
}
h6{
	font-size: x-small;
    margin-bottom: -10px;
}

#header #block-logo a {
	color: #eee;
}

.ace_highlight-marker2 {
   position: absolute; /* without this positions will be erong */
   background: #2e1d00; /* color */ 
   z-index: 1000; /* in front of all other markers */ 
}

.ace_highlight-dim {
   position: absolute; /* without this positions will be erong */
   background: #933255; /* color */ 
   z-index: 1000; /* in front of all other markers */ 
}

.ace_gutter-layer {
  /* original width is 48px */
  width: 32px !important;
}


.ace_gutter-layer > * {
  /* 48 - 32 = 16 */
  margin-left: -22px;
}

.simple-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.simple-modalmodal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}


/*
#header #block-logo a img.header-logo-img {
	height: 60px;
	width: 60px;
	margin-right: 8px;
	-moz-animation: doh_spin 15s infinite linear;
	-webkit-animation: doh_spin 15s infinite linear;
	animation: doh_spin 15s infinite linear;
	
}
#header #block-logo a img.header-logo-img-ghost {
	display:	none;
}

body.front #page-wrapper, body.front #header {
	opacity: 0;
}
*/